{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Accommodations</h1>
    <div class="row">
        {% for hotel in hotel_list %}
            <div class="col-md-3 p-3 mb-4 d-flex flex-column">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h2><a class="article-title" href="#">{{ hotel.name }}</a></h2>
                        </div>
                        <div class="" style="text-align: justify;">
                            <img class="img-fluid img-rouded" src="{{ hotel.image_url }}" alt="{{ hotel.name }} image">
                            <p class="mb-0"><strong>Rating:</strong> {{ hotel.rating }} </p>
                            <p class="mb-0"><strong>Price:</strong> {{ hotel.currency }} {{ hotel.price }}</p>
                            <p class="mb-0"><strong>Amenities:</strong> {{ hotel.amenities }}</p>
                            <p><small class="text-muted"><strong>Location:</strong> {{ hotel.city.name }}, {{ hotel.region.name }}, {{ hotel.country.name }}</small></p>
                        </div>
                    </div>
                </article>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
