{% load static %}
<div class="carousel slide" data-ride="carousel" id="myCarousel">
    <h2 class="carousel-title text-center mb-3">{{ title }}</h2>
    <p class="carousel-description text-center">{{ description }}</p>
    <div class="carousel-inner">
      {% for image in images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{% static image %}" class="d-block w-100" alt="{{ image | replace('.jpg', '') }}">
        </div>
      {% endfor %}
    </div>
    {% if buttons %}
    <button class="carousel-control-prev" type="button" data-target="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    {% endif %}
</div>
  
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const carousel = document.getElementById('myCarousel')
      const interval = 2000;  // Adjust carousel interval as needed
  
      carousel.addEventListener('slide.bs.carousel', function () {
        const activeItem = carousel.querySelector('.carousel-item.active');
        const img = activeItem.querySelector('img');
        img.onload = function () {
          carousel.classList.remove('carousel-fade');
        };
        carousel.classList.add('carousel-fade');
      });
  
      if (!carousel.classList.contains('slide')) {
        carousel.classList.add('slide');
      }
  
      if (interval) {
        carousel.setAttribute('data-ride', 'carousel');
        carousel.setAttribute('data-interval', interval);
      }
    });
</script>
  