{% extends 'base.html' %}
{% load static %}
{% block title %}Home - TripTailor{% endblock %}
{% block content %}
<!-- Hero Section -->
<section class="hero-search container mt-5 w-75 p-3 text-black-50">
    <div class="container-fluid">
        <form class="row row-cols-md-auto d-flex justify-content-center g-4 search-bg align-items-center rounded-4" id="searchForm" method="get" action="{% url 'accommodations' %}">
            <div class="col-auto mb-2">
                <select class="container-fluid w-auto rounded-4 p-3" id="country" name="country">
                    <option value="">Country</option>
                    {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto mb-2">
                <select class="container-fluid w-auto rounded-4 p-3" id="region" name="region">
                    <option value="">Region</option>
                </select>
            </div>
            <div class="col-auto mb-2">
                <select class="container-fluid w-auto rounded-4 p-3" id="city" name="city">
                    <option value="">City</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary w-auto p-3 rounded-4 border-0 white-text">Search</button>
            </div>
        </form>
    </div>
    <div class="hero-section mt-5 p-3 container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center text-black-50">
                    <div class="mb-5">
                        <h4>EXPLORE TRIPTAILOR FOR TRAVELLERS</h4>
                    </div>
                    <div class="mb-5">
                        <h6 style="font-size: 13px;">Discover appropriate hotels and destinations for relaxation</h6>
                    </div>
                    <div class="col-md-6 w-100">
                        <input type="email" class="form-control p-3 text-center" id="exampleFormControlInput1" placeholder="Your Email Address">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary mt-5 p-3" type="submit">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div style="font-size: 13px;">
                    <span>We keep you up to date on the new location and best hotel in your area</span>
                    <span>By sharing your email, you agree to the terms and conditions</span>
                </div>
            </div>
            <div class="col-md-6 img-side">
                <img src="https://imgur.com/pvJPWY0" class="img-fluid rounded-5" alt="Hotel in Paris">
                <img src="https://imgur.com/pvJPWY0" class="img-fluid rounded-5" alt="Hotel in London">
                <img src="https://imgur.com/pvJPWY0" class="img-fluid rounded-5" alt="Hotel in Lagos">
            </div>
        </div>
    </div>
</section>

<!-- Trending Destinations Carousel -->
<section class="carousel mt-5 text-black-50">
    <div class="container">
        <div class="row text-center">
            <div class="mb-5">
                <h1 class="brand-text">Trending Destinations</h1>
                <h4 style="font-size: 18px;">Most popular choices for travelers</h4>
            </div>
            <div id="carouselExampleFade1" class="carousel slide carousel-fade col-sm-12">
                <div class="carousel-inner">
                    {% for image in carousel1_images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{% static image %}" height="550" class="d-block rounded-5" alt="{{ image|slice:'0:-4' }}">
                            <div class="position-absolute content-m-center-{{ forloop.counter }}">
                                <p>{{ image|slice:'0:-4'|title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon btn-primary rounded-pill" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade1" data-bs-slide="next">
                    <span class="carousel-control-next-icon btn-primary rounded-pill" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Experience with TripTailor Carousel -->
<section class="carousel mt-5 text-black-50">
    <div class="container">
        <div class="row text-center">
            <div class="mb-5">
                <h3 class="text-color">Experience with TripTailor</h3>
                <h4 style="font-size: 18px;">Explore the best and new location in your area</h4>
            </div>
            <div class="mb-5">
                <button class="btn btn-primary rounded" type="button">All</button>
                <button class="btn btn-primary-outline rounded" type="button">Most popular</button>
                <button class="btn btn-primary-outline rounded" type="button">Trending</button>
                <button class="btn btn-primary-outline rounded" type="button">New location</button>
            </div>
            <div id="carouselExampleFade2" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    {% for image in carousel2_images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{% static image %}" height="550" class="d-block rounded-5" alt="{{ image|slice:'0:-4' }}">
                            <div class="position-absolute content-m-{{ forloop.counter }}">
                                <p>{{ image|slice:'0:-4'|title }}</p>
                                <button class="btn btn-primary rounded-pill" type="button">Book Now</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon btn-primary rounded-pill" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
                    <span class="carousel-control-next-icon btn-primary rounded-pill" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Homes Guests Love Carousel -->
<section class="carousel mt-5 text-black-50">
    <div class="container">
        <div class="row text-center">
            <div class="mb-5">
                <h3 class="text-color">Homes Guests Love</h3>
                <h4 style="font-size: 18px;">Discover new homes for your travel and stays</h4>
            </div>
            <div id="carouselExampleFade3" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    {% for image in carousel3_images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{% static image %}" height="550" class="d-block rounded-5" alt="{{ image|slice:'0:-4' }}">
                            <div class="position-absolute content-m-{{ forloop.counter }}">
                                <p>{{ image|slice:'0:-4'|title }}</p>
                                <button class="btn btn-primary rounded-pill" type="button">Book Now</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade3" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon btn-primary rounded-pill" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade3" data-bs-slide="next">
                    <span class="carousel-control-next-icon btn-primary rounded-pill" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Rewards Section -->
<section class="carousel mt-5 text-black-50">
    <div class="container">
        <div class="row text-center">
            <div class="mb-5">
                <h3 class="text-color">Aim Reward With TripTailor</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body text-color bg-primary-subtle">
                        <h3 class="card-title">Travel More, Spend Less</h3>
                        <p class="card-text">Sign in, save money or more at participating properties</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pb-3">
                <div class="card">
                    <div class="card-body text-color bg-primary-subtle">
                        <h3 class="card-title">Earn one reward night</h3>
                        <p class="card-text">for every 10 nights you stay</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body text-color bg-primary-subtle">
                        <h3 class="card-title">With the TripTailor website</h3>
                        <p class="card-text">Search, book, and save on the go</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pb-3">
                <div class="card">
                    <div class="card-body text-color bg-primary-subtle py-4">
                        <h2 class="card-title">Rewards terms & conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#country').change(function() {
            var countryId = $(this).val();
            if (countryId) {
                $.ajax({
                    url: '/get_regions/' + countryId + '/',
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        $('#region').empty();
                        $('#region').append('<option value="">Region</option>');
                        $.each(data, function(key, value) {
                            $('#region').append('<option value="'+ value.id +'">'+ value.name +'</option>');
                        });
                    }
                });
            } else {
                $('#region').empty();
                $('#region').append('<option value="">Region</option>');
            }
            $('#city').empty();
            $('#city').append('<option value="">City</option>');
        });

        $('#region').change(function() {
            var regionId = $(this).val();
            if (regionId) {
                $.ajax({
                    url: '/get_cities/' + regionId + '/',
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        $('#city').empty();
                        $('#city').append('<option value="">City</option>');
                        $.each(data, function(key, value) {
                            $('#city').append('<option value="'+ value.id +'">'+ value.name +'</option>');
                        });
                    }
                });
            } else {
                $('#city').empty();
                $('#city').append('<option value="">City</option>');
            }
        });
    });
</script>
{% endblock %}