{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'hotels/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'hotels/styles.css' %}">
  <link rel="stylesheet" href="{% static 'hotels/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'hotels/css/styles.css' %}">

  {% if title %}
      <title>TripTailor - {{ title }}</title>
  {% else %}
      <title>Lodging</title>
  {% endif %}
</head>
<body>
  <!-- Navbar -->
  <header class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand brand-text" href="{% url 'hotels-home' %}">TripTailor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="{% url 'hotels-home' %}">Home<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accommodations' %}">Accommodations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hotels-about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <!--
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            -->
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <!-- Right aligned links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary rounded-pill" href="{% url 'register' %}" role="button">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!--
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand brand-text" href="{% url 'hotels-home' %}">TripTailor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!- Left aligned links 
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'hotels-home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'accommodations' %}">Accommodations</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'hotels-about' %}">About</a>
                  </li>
              </ul>
              
              <!- Right aligned links --
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                  </li>
                  <li class="nav-item">
                      <a class="btn btn-primary rounded-pill" href="{% url 'register' %}" role="button">Register</a>
                  </li>
                {% endif %}
              </ul>
          </div>
      </div>
    </nav> -->
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-auto">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <!--
      <div class="col-md-4">
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class='text-muted'>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
            </ul>
          </p>
        </div>
      </div>
        -->
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container mt-5">
      <div class="row foot text-white bg-primary">
        <div class="col-sm-4 text-white bg-primary red-space-para">
          <h3>Top Destinations</h3>
          <p><i>Hotel in Paris</i></p>
          <p><i>Hotel in London</i></p>
          <p><i>Hotel in Lagos</i></p>
        </div>
        <div class="col-sm-4 text-white bg-primary red-space-para">
          <h3>Support & FAQs</h3>
          <p><i>Your bookings</i></p>
          <p><i>FAQs</i></p>
          <p><i>Contact Us</i></p>
          <p><i>Review a property</i></p>
        </div>
        <div class="col-sm-4 text-white bg-primary red-space-para">
          <h3>Other Information</h3>
          <p><i>Career</i></p>
          <p><i>About Us</i></p>
          <p><i>Travel Guides</i></p>
          <p><i>Safety Resource Centre</i></p>
          <p><i>Terms & Conditions</i></p>
        </div>
        <p>&copy; 2024 TripTailor. All rights reserved.</p>
      </div>
    </div>
    
  </footer>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>