*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.btn-primary{
    background-color:#4583BD !important ;
}
.brand-text{
    color:#4583BD !important ;
    font-size: 40px;
    font-weight: 600;
    font-family: "Source Sans Pro";
}
.text-color{
    color:#4583BD !important ;
}
.search-bg{
    background-color:#4583BD !important ;
    padding: 5px !important;
    
}
/* .hero-section{
    padding: 3px  20px;
    
} */
.whit-text{
    color:#ffffff !important ;
    font-size: 30px;
    font-weight: 400;
    font-family: "Source Sans Pro";
}

.hero-section .row .Group .ExploreTriptailorForTravelers{
width: 604.98px; 
left: 4px; 
top: 0px; 
position: absolute; 
color: #8D8D8D; 
font-size: 36px; 
font-family: Source Sans Pro; 
font-weight: 600; 
word-wrap: break-word"
}

.container .row .img-side img{
    float: left;
    width: 33.3%;
    height: 100%;
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%)
}


.carousel .container .row .slide .carousel-inner .carousel-item img{
    float: left;
    width: 33.3%;
    padding: 0 5px;
}

.btn-primary-outline{
    border: #4583BD solid 2px;
    color: #4583BD;
    margin: 0 15px;
}

.btn-primary-outline:hover{
    background-color: #4583BD;
    color: #ffffff;
}

.content-m-1{
    margin: 450px 0 0 100px; 
    font-size: 20px; 
    color: #ffffff;
}
.content-m-2{
    margin: 450px 0 0 500px; 
    font-size: 18px; 
    color: #ffffff;
}
.content-m-3{
    margin: 450px 0 0 880px; 
    font-size: 18px; 
    color: #ffffff;
}
.content-m-center-1{
    margin: 450px 0 0 150px; 
    font-size: 25px; 
    color: #ffffff;
}
.content-m-center-2{
    margin: 450px 0 0 520px; 
    font-size: 25px; 
    color: #ffffff;
}
.content-m-center-3{
    margin: 450px 0 0 900px; 
    font-size: 25px; 
    color: #ffffff;
}

.bg-primary{
    background:rgba(68.56, 131.25, 189.13, 0.10)
    
}